<br>
<nav id="subNavbar" class="mb-4">
    <ul class="nav nav-default" style="position: static;">
        <li class="active"><a style="background: #007bff;">Home</a>
        </li>
        <li><a>Custom</a>
        </li>

    </ul>
</nav>

<div class="dashboard-body p-2">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <h3>Current Version is 12.2. You can visit links below</h3>
        </div>
    </div>
    <hr>


    <div class="row lap-view-padding pt-2">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel about">
                <div class="panel-heading">
                    <div class="panel-title">About</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#" id="proversion"
                                >My App Pro</a>
                        </li>
                        <li><a href="#" id="official"
                                >Official Website</a>
                        </li>
                        <li><a href="#" id="changelog"
                                >Change Log</a>
                        </li>
                        <li><a href="#" id="license"
                                >License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel support">
                <div class="panel-heading">
                    <div class="panel-title">Support</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#" id="vip" >VIP
                                Support</a>
                        </li>
                        <li><a href="#" id="manual"
                                >User Manual</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel cowin">
                <div class="panel-heading">
                    <div class="panel-title">Help Us</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#" id="reportbug"
                                >Report Bug </a>
                        </li>
                        <li><a href="#" id="feedback"
                                >Feedback</a>
                        </li>
                        <li><a href="#" id="translate"
                                >Translate</a>
                        </li>
                        <li><a href="#" id="recommend"
                                >More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel service">
                <div class="panel-heading">
                    <div class="panel-title">Service</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#" id="zentaotrain"
                                >My app Training</a>
                        </li>
                        <li><a href="#" id="idc"
                                >My app Cloud</a>
                        </li>
                        <li><a href="#" id="custom"
                                >My app Custom</a>
                        </li>
                        <li><a href="#" id="servicemore"
                                >More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
            <div class="panel others">
                <div class="panel-heading">
                    <div class="panel-title">Other Products</div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#" id="chanzhi"
                                ><mat-icon>event_note</mat-icon>
                                Zsite</a>
                        </li>
                        <li><a href="#" id="ranzhi"
                                ><mat-icon>event_note</mat-icon>Zdoo</a>
                        </li>
                        <li><a href="#" id="ydisk"
                                ><mat-icon>event_note</mat-icon>Y Disk</a>
                        </li>
                        <li><a href="#" id="meshiot"
                                ><mat-icon>event_note</mat-icon>MeshioT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>